services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    env_file:
      - .env
    networks:
      - inception
    expose:
      - "3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    restart: always
    
  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    env_file: .env
    depends_on:
      - mariadb
   # ports:
   #  - "9000:9000"
    networks:
      - inception
    volumes:
      - wordpress_data:/var/www/html
    restart: always
  
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    ports:
      - "443:443"
    depends_on:
      - wordpress
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception

networks:
  inception:
    driver: bridge
  
volumes :
    mariadb_data:
      driver: local
      driver_opts:
        type: none
        device: /home/kbaga42/data/mariadb
        o: bind
    wordpress_data:
      driver: local
      driver_opts:
        type: none
        device: /home/kbaga42/data/wordpress
        o: bind

